body {
    /*Let's undo what Sakura does here*/
    margin: initial;
    max-width: initial;
}

@media screen and (min-width: 351px) {
  .resume {
      display: grid;
      grid-template-columns: 1fr 2fr;
  }

  .show-pin {
      display: inline-block;
  }
}

.resume {
    display: grid;
    grid-row-gap: 24px;
}

.profile {
    background-color: #333;
    color: #E6E6E6;
    padding-bottom: 36px;
}

.profile-header {
    text-align: center;
}

.profile-photo {
    border-radius: 50%;
    max-width: 20%;
    max-height: 20%;
}

.profile-summary {
    padding: 24px;
    font-size: 24px;
}

.no-decoration-list {
    list-style: none;
}

.contact-info-entry {
    padding-left: 8px;
    vertical-align: top;
}

.education, .languages {
    margin-left: 24px;
}

.school {
    display: inline-block;
    font-size: 1.25em;
}

.education-facts {
    padding-top: 16px;
}

.work-experience {
    background-color: white;
    color: #222;
    padding: 24px 8px 24px 8px;
}

.work-experience-title {
    margin-top: 0px;
}

.job-details {
    list-style: none;
    display: flex;
    justify-content: stretch;
    gap: 4px;
    padding-left: 4px;
    margin-bottom: 12px;
}

.job-title, .job-summary {
    margin-bottom: 4px;
}

/* Utility classes */
.small-icon {
    width: 12px;
    height: 12px;
}

.paragraph {
    margin-bottom: 8px;
    text-align: justify;
}

.bold {
    font-weight: bolder;
}

.no-list-style {
    list-style: none;
}
